/* index.css or global css file */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ===== Global Mobile Styles ===== */
@media (max-width: 768px) {
  html, body {
    font-size: 15px;
  }
}
